@import url(../font/stylesheet.css);
/* Fonts */
@import url('fonts/fonts.css');

body {
    margin: 0px;
    font: normal 13px;
    font-family: "Montserrat-Light", Arial, Helvetica, sans-serif;
    color: #707070;
    font-size:13px;
    line-height: 20px;
}

.hndrd {
    width: 100%;
}

.auto_cmn {
    width: 980px;
    margin: 0px auto;
}

.clr {
    clear: both;
}

.cntnr_main {
    width: 980px;
    float: left;
}

.main_brdr {
    width: 978px;
    float: left;
    behaviour: url(PIE.htc);
    border-radius: 5px;
    background-color: #FFF;
    padding-top: 80px;
    padding-bottom: 50px;
}

.logo {
    width: 87px;
    z-index: 999;
    padding-top: 15px;
    position: absolute;
    padding-left: 446px;
}

.menu_cntnr {
    width: 61%;
    margin: 0px auto;
}

.menu {
    font: normal 12px "Montserrat-Light";
    letter-spacing: .08em;
    color: #a8a8a8;
    float: left;
    padding: 0px 15px 0px 15px;
    border-right: 1px solid #d3d3d3;
    text-decoration: none;
    margin-bottom: 18px;
    cursor: pointer;
}

.menu:hover {
    color: #b60050;
}

.menu_lst {
    font: normal 12px "Montserrat-Light";
    letter-spacing: .08em;
    color: #a8a8a8;
    float: left;
    padding: 0px 15px 0px 15px;
    margin-bottom: 18px;
    cursor: pointer;
    text-decoration: none;
}

.menu_lst:hover {
    color: #b60050;
}

.bnr_cntnr {
    width: 910px;
    float: left;
    padding: 0px 35px;
}

.bnr_bg {
    width: 910px;
    background: url(/images/banner_bg.jpg) no-repeat;
    background-position: top;
    text-align: center;
}

.btns_main {
    width: 910px;
    padding: 40px 35px 0px 35px;
    float: left;
}

.btn_sub {
    width: 310px;
    float: left;
}

.bg_lctn {
    width: 286px;
    background: url(/images/location.png) no-repeat;
    height: 153px;
}

.bg_menu {
    width: 286px;
    background: url(/images/menu.png) no-repeat;
    height: 153px;
}

.btn_sub_lst {
    width: 286px;
    float: left;
}

.bg_nws {
    width: 286px;
    background: url(/images/newsletter.png) no-repeat;
    height: 153px;
}

.btn_cntnr {
    width: 195px;
    margin: 0px auto;
    padding-top: 48px;
}

.lcn_btn {
    width: 195px;
    height: 55px;
    float: left;
    background: url(/images/location_btn.png) no-repeat;
    background-position: top;
    display: block;
}

.lcn_btn:hover {
    background-position: bottom;
}

.menu_btn {
    width: 195px;
    height: 55px;
    float: left;
    background: url(/images/menu_btn.png) no-repeat;
    background-position: top;
    display: block;
}

.menu_btn:hover {
    background-position: bottom;
}

.nws_btn {
    width: 195px;
    height: 55px;
    float: left;
    background: url(/images/newsletter_btn.png) no-repeat;
    background-position: top;
    display: block;
}

.nws_btn:hover {
    background-position: bottom;
}

.ftr_cntnr {
    width: 910px;
    float: left;
    padding: 20px 35px;
}

.ftr_lft {
    float: left;
    font: normal 12px "Montserrat-Light";
    color: #a8a8a8;
}

.ftr_rgt {
    float: right;
    font: normal 12px "Montserrat-Light";
    color: #a8a8a8;
}

.ftr_lnk {
    font: normal 12px "Montserrat-Light";
    color: #a8a8a8;
    text-decoration: none;
}

.ftr_lnk:hover {
    color: #b60050;
}

.tp_lnk_cntnr {
    width: 910px;
    float: left;
    background: url(/images/tp_bg.png) no-repeat;
    background-position: center top;
    padding: 25px 0px 0px 0px;
    text-align: center;
}

.menu_sub {
    font: normal 11px "Montserrat-Light";
    letter-spacing: 1px;
    color: #a8a8a8;
    padding: 0px 0px 2px 0px;
    text-decoration: none;
    margin-bottom: 18px;
    cursor: pointer;
    margin-right: 25px;
}

.menu_sub:hover {
    color: #b60050;
    border-bottom: 1px solid #b60050;
    background: url(/images/nav_arrow.png) no-repeat;
    background-position: center bottom;
}

.menu_sub_current {
    color: #b60050;
    border-bottom: 1px solid #b60050;
    background: url(/images/nav_arrow.png) no-repeat;
    background-position: center bottom;
    text-decoration: none;
    font: normal 11px "Montserrat-Light";
    padding: 0px 0px 2px 0px;
    margin-right: 20px;
    letter-spacing: 1px;
}

.abt_brdr {
    width: 890px;
    float: left;
}

.abt_main {
    width: 890px;
    padding: 25px 45px 0px 45px;
    float: left;
}

.abt_pic {
    width: 347px;
    float: left;
    background: url(/images/about_bg.png) no-repeat;
    padding: 9px;
}

.abt_txt_cntnr {
    width: 425px;
    float: right;
    padding-left: 30px;
    padding-right: 20px;
}

.cmn_hd {
    padding: 10px 0px;
    font: normal 18px "Montserrat-Light";
    letter-spacing: 2px;
    color: 313131;
}

.cmn_txt {
    font: normal 12px "Montserrat-Light";
    letter-spacing: .05em;
    color: #675f54;
    line-height: 20px;
}

.abt_cntr {
    width: 840px;
    float: left;
    background: url(/images/abt_cntr.png) repeat-y;
    padding: 15px 25px;
}

.lctn_main {
    width: 890px;
    padding: 0px 45px 0px 45px;
    float: left;
}
/*------------- Menu Left --------------*/
.lft_mnu_cntnr {
    width: 175px;
    float: left;
}

.rgt_mnu_cntnr {
    width: 715px;
    float: right;
}

.lft_mnu {
    width: 130px;
    float: left;
    background: url(/images/menu_bg_hvr.png) no-repeat;
    height: 27px;
    font: normal 13px "Montserrat-Light";
    text-shadow: 0 1px 0 #FFFFFF;
    color: #565656;
    text-decoration: none;
    padding: 5px 0px 0px 10px;
    margin-bottom: 5px;
}

.lft_mnu:hover {
    background: url(/images/menu_bg.png) no-repeat;
    color: #FFF;
    text-shadow: 0 1px 0 #a84768;
}

.lft_mnu_current {
    background: url(/images/menu_bg.png) no-repeat;
    color: #FFF;
    text-shadow: 0 1px 0 #a84768;
    text-decoration: none;
    padding: 5px 0px 0px 10px;
    margin-bottom: 5px;
    width: 130px;
    float: left;
    height: 27px;
    font: normal 13px "Montserrat-Light";
}

.ju_cntnr {
    width: 470px;
    float: left;
}

.ju_cntr {
    width: 470px;
    background: url(/images/juice_bg_cntr.png) repeat-y;
}

.juice_hd {
    font: bold 13px "Montserrat-Light";
    color: #8d0e3a;
    padding: 10px 30px;
}

.juice_pic {
    text-align: center;
}

.juice_txt {
    font: normal 12px "Montserrat-Light";
    color: #675f54;
    line-height: 18px;
    padding: 20px 30px 15px 30px;
    letter-spacing: .05em;
}

.juc_sub_main {
    padding: 15px 0px;
}

.juc_sub {
    width: 231px;
    margin-right: 8px;
    float: left;
}

.juc_sub_cntr {
    background: url(/images/juice_sub_cntr.png) repeat-y;
}

.juc_sub_pic {
    text-align: center;
}

.juc_sub_txt {
    font: normal 13px "Montserrat-Light";
    color: #675f54;
    padding: 5px 15px;
}

.juc_sub_lst {
    width: 231px;
    float: left;
}

.ju_rgt {
    float: right;
    width: 240px;
}

.juc_sub_new {
    width: 231px;
    float: right;
    margin-bottom: 15px;
}

.clns_tag_cntnr {
    width: 230px;
    float: right;
}

.lft_mnu_big {
    width: 130px;
    float: left;
    background: url(/images/menu_big_bg.png) no-repeat;
    height: 45px;
    font: normal 13px "Montserrat-Light";
    text-shadow: 0 1px 0 #FFFFFF;
    color: #565656;
    text-decoration: none;
    padding: 5px 0px 0px 10px;
    margin-bottom: 5px;
}

.lft_mnu_big:hover {
    background: url(/images/menu_big_bg_hvr.png) no-repeat;
    color: #FFF;
    text-shadow: 0 1px 0 #a84768;
}

.lft_mnu_big_current {
    width: 130px;
    float: left;
    background: url(/images/menu_big_bg_hvr.png) no-repeat;
    color: #FFF;
    text-shadow: 0 1px 0 #a84768;
    height: 45px;
    font: normal 13px "Montserrat-Light";
    padding: 5px 0px 0px 10px;
    margin-bottom: 5px;
    text-decoration: none;
}

.lft_mnu_cntnr_cln {
    width: 185px;
    float: left;
}

.rgt_mnu_cntnr_cln {
    width: 705px;
    float: right;
}
/*---------- cleanses --------*/
.clens_rgt {
    width: 275px;
    float: right;
}

.clens_mdl {
    width: 430px;
    float: left;
}

.clns_cmn_hd {
    font: normal 30px "Montserrat-Light";
    color: #313131;
    padding-bottom: 15px;
}

.btns {
    width: 415px;
    float: left;
    background: url(/images/arrow.jpg) no-repeat;
    background-position: 0px 8px;
    padding: 0px 0px 10px 15px;
}

.clns_sub_hd {
    font: normal 17px "Montserrat-Light";
    color: #b60050;
    padding: 15px 0px;
}

.scdl_time {
    width: 52px;
    float: left;
    height: 52px;
    background: url(/images/time_bg.png) no-repeat;
    font: bold 16px "Montserrat-Light";
    color: #FFF;
    text-align: center;
    line-height: 16px;
    padding-top: 7px;
}

.scdl_lft {
    float: left;
    width: 60px;
}

.scdl_rgt {
    width: 370px;
    float: left;
}

.scdl_cntnr {
    padding-top: 20px;
}

.prcs_nam {
    float: left;
}

.ingradnts {
    float: right;
    color: #55ad00;
}

.scdl_sb {
    padding-bottom: 18px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 18px;
}
/*- location-------------*/
.lctn_cntnr {
    width: 615px;
    float: left;
}

.lctn_sub {
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}

.adrs {
    width: 205px;
    float: left;
}

.lctn_sub_lst {
    padding: 30px 0px;
    border-bottom: 1px solid #eaeaea;
}
/*------- History---------*/
.hstr_lft {
    width: 420px;
    float: left;
}

.hstr_rgt {
    width: 420px;
    padding-top: 45px;
    float: right;
}

.hstry_hd {
    width: 263px;
    float: right;
    background: url(/images/histry_hd_bg.jpg) no-repeat;
    height: 32px;
    color: #FFF;
}

.hstry_txt {
    padding-top: 3px;
    text-align: center;
    float: left;
    width: 156px;
    letter-spacing: 0px;
}

.hstry_sub {
    float: left;
    width: 420px;
    background: url(/images/hitry_bg.png) repeat-y;
    background-position: right;
}

.hstry_mtr {
    width: 420px;
    float: left;
}

.hstry_mtr_main {
    width: 363px;
    margin-right: 45px;
    float: right;
    padding-top: 20px;
}

.hstry_img {
    padding: 6px;
    background-color: #f3f3f3;
}

.hstry_cntnt {
    padding: 20px 5px 20px 5px;
}

.hstry_hd_rgt {
    width: 263px;
    float: left;
    background: url(/images/histry_hd_bg_1.jpg) no-repeat;
    height: 32px;
    color: #FFF;
}

.hstry_txt_rgt {
    padding-top: 3px;
    text-align: center;
    float: right;
    width: 156px;
    letter-spacing: 0px;
}

.hstry_sub_rgt {
    float: left;
    width: 420px;
}

.hstry_mtr_main_rgt {
    width: 363px;
    margin-left: 45px;
    float: left;
    padding-top: 20px;
}